<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Aantal pizza\'s per prijs')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Aantal pizza's per prijs</h1>
<div th:if="${param.verwijderd}" class="boodschap">Pizza is verwijderd. Zijn naam:<th:block th:text="${param.verwijderd}"></th:block>.</div>
<table id="aantalpizzasperprijs">
    <thead>
    <tr>
        <th>Prijs</th>
        <th>Aantal pizza's</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prijsEnAantal:${aantalpizzasperprijs}"
        th:object="${prijsEnAantal}">
        <td th:text="*{prijs}"></td>
        <td th:text="*{aantal}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
