<div xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="menu">
        <ul>
            <li>
                <a th:href="@{/}">Welkom</a>
            </li>
            <li>
                <a th:href="@{/pizzas}">Pizza's</a>
            </li>
            <li>
                <a th:href="@{/os}">OS</a>
            </li>
            <li>
                <a th:href="@{/kleuren}">Kleur</a>
            </li>
            <li>
                <a th:href="@{/pizzas/prijzen}">Prijzen</a>
            </li>
            <li>
                <a th:href="@{/pizzas/aantalpizzasperprijs}">Aantal pizza's per
                prijs</a>
            </li>
            <li>
                <a th:href="@{/pizzas/vantotprijs/form}">Van tot prijs form</a>
            </li>
            <li>
                <a th:href="@{/pizzas/toevoegen/form}">Toevoegen</a>
            </li>
            <li>
                <a th:href="@{/identificatie}">Identificatie</a>
            </li>
            <li>
                <a th:href="@{/mandje}">Mandje</a>
            </li>
        </ul>
    </nav>
</div>
<head th:fragment="head(title)">
    <link rel="icon" th:href="@{/images/luigi.ico}" type="image/x-icon">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/luigi.css}">
</head>
<table th:fragment="pizzaTabel(pizzas)" xmlns:th="http://www.thymeleaf.org" id="pizzatabel">
    <thead>
    <tr>
        <th>Naam</th>
        <th>Prijs</th>
        <th>Pikant</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
        <td><a th:text="*{naam}" th:href="@{/pizzas/{id}(id=*{id})}"></a></td>
        <td th:text="*{prijs}" class="getal"></td>
        <td>
            <th:block th:if="*{pikant}">pikant</th:block>
        </td>
    </tr>
    </tbody>
</table>