<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Prijzen')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Prijzen</h1>
<ul>
    <li th:each="prijs:${prijzen}">
        <a th:href="@{/pizzas/prijzen/{prijs}(prijs=${prijs})}" th:text="${prijs}"></a>
    </li>
</ul>
<th:block th:if="${prijs}">
    <h2>Pizzas van
        <th:block th:text="${prijs}"></th:block>
        €:
    </h2>
    <table th:replace="fragments::pizzaTabel(pizzas=${pizzas})"></table>
</th:block>
</body>
</html>